@import "tailwindcss";
@import "tw-animate-css";
@import "./colors.css";
@import "./shadcn.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-sans: var(--font-inter);
	--font-mono: var(--font-geist-mono);

	--color-navbar: var(--color-bg-light);
}

@layer base {
	* {
		@apply border-border outline-border;
	}
	body {
		@apply bg-bg-white text-text-dark antialiased font-sans;
	}
	html {
		--header-height: 3.5rem;
		--menu-height: 2.7rem;
		--banner-height: 2.5rem;
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

.remixicon path {
	transform: scale(0.8996);
	transform-origin: center;
}
