@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 158 64.4% 41.6%;
		--primary-foreground: 0 0% 98%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 0 0% 98%;
		--accent-foreground: 240 5.9% 10%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 158 4.4% 41.6%;

		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;

		--radius: 0.5rem;

		--sidebar-background: 0 0% 100%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: 0 0% 3.9%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;

		--border: 0 0% 18.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 53.1%;

		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
		animation-timing-function: east-out;
		font-variant-numeric: tabular-nums;
		scrollbar-width: thin;
		scrollbar-color: hsl(var(--border)) transparent;
		scroll-margin-top: 6rem;
	}
	body {
		@apply text-zinc-700 bg-background antialiased min-h-[100svh];
		@apply text-foreground;
		overscroll-behavior: none;
		overflow-x: hidden;
		-webkit-text-size-adjust: 100%;
		text-rendering: optimizeLegibility;
		font-feature-settings:
			"cv11", "salt", "ss01", "ss03", "cv01", "cv02",
			"cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09", "cv10";
		word-break: break-word;
	}
	ul,
	ol {
		counter-reset: listitem;
	}
	ul:not(.list-none) li::before {
		content: "";
	}
	html {
		scroll-behavior: smooth;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
}

@layer components {
	.border-indicator:has(li a[data-active="true"]) {
		@apply border-primary;
	}
	code:not(
			[data-code-block] code,
			code[data-language="plaintext"],
			code:has(> mark)
		) {
		@apply px-1.5 py-px border rounded-md;
	}
	code {
		@apply relative font-semibold bg-transparent p-0 text-inherit text-[length:inherit];
	}

	[data-code-block] {
		&[data-wrap-code="true"] {
			pre {
				@apply whitespace-pre-wrap;
			}
		}
		pre {
			@apply overflow-hidden rounded-2xl h-full;
			background-color: #15151e !important;

			code {
				@apply py-2 overflow-auto text-xs font-medium my-1 px-1 grid h-full;
				> span {
					@apply px-4;
				}
			}
		}
	}
	tr:last-child td {
		@apply border-b-0;
	}
	.sticky-but-not-when-fullscreen-idk {
		@apply sticky top-16 self-start;
	}
	.sticky-but-not-when-fullscreen-idk:has(*[data-fullscreen="true"]) {
		@apply relative;
	}

	.main-content {
		@apply relative mx-auto mt-4 w-full max-w-6xl px-6;
		article {
			@apply mt-8 text-pretty prose;
			h2,
			h3 {
				@apply mt-0;
			}
		}
	}
}

[data-editor-wrapper]:has(.monaco-editor.focused) {
	@apply ring-1 ring-ring;
}

.monaco-editor {
	.scrollbar {
		&.vertical {
			.slider {
				width: 6px !important;
				border-radius: 8px !important;
				background-color: hsl(var(--border)) !important;
			}
		}
	}
	.current-line {
		border: none !important;
	}
	.monaco-hover-content .hover-row.status-bar {
		display: none !important;
	}

	span {
		font-style: normal !important;
	}
}
